# Base URL Server API Backend Laravel (Ganti sesuai URL domain hosting Anda)
# Pastikan TIDAK menggunakan trailing slash (tidak diakhiri dengan /)
# Contoh: VITE_API_URL=https://goodpeople-hcms.com/api
VITE_API_URL=http://localhost:8000

# Base URL Aplikasi Frontend (Ganti sesuai URL domain hosting Anda)
# Pastikan TIDAK menggunakan trailing slash (tidak diakhiri dengan /)
# Contoh: VITE_APP_URL=https://goodpeople-hcms.com
VITE_APP_URL=http://localhost:5173
