# Base URL Server API Backend Laravel (Ganti sesuai URL domain hosting Anda)
# Pastikan TIDAK menggunakan trailing slash (tidak diakhiri dengan /)
# Contoh: VITE_API_URL=https://api.karyaabsen.my.id
VITE_API_URL=http://localhost:8000
